<% provide :title, "Index" %>

<div class="container-fluid" ng-controller='UserIndexCtrl'>

  <div class="row">

      <div class="col-md-6 user_details">
          <h1><%= @user.name %></h1>
          <p><%= @user.branch.name %></p>
      </div>

      <div class="col-md-6">

        <md-nav-bar md-selected-nav-item="cType" nav-bar-aria-label="navigation links">
              <md-nav-item md-nav-click="companyType(0)" name="AVAILABLE">Available</md-nav-item>
              <md-nav-item md-nav-click="companyType(1)" name="APPLIED">Applied</md-nav-item>
              <md-nav-item md-nav-click="companyType(2)" name="REGISTERED">Registered</md-nav-item>
        </md-nav-bar>

      </div>

  </div>

  <div class="row">

     <div class="col-md-12" ng-hide="!no_companies">

       <h2 class="md-title">Sorry, No Countries here at the moment.</h2>

     </div>

     <div class="col-md-6" ng-hide="no_companies">

       Here are the companies that {{ message }}

       <br></br>

       Search: <input class="form-control" ng-model="query">

       <md-list>
         <md-list-item class="md-3-line" ng-repeat="c in companies" ng-click="selectCompany($index)">
             <div class="md-list-item-text" layout="column">
               <h3>{{ c.name }}</h3>
               <h4>{{ item.job_desc }}</h4>
               <!-- <p>{{ item.notes }}</p> -->
             </div>
         </md-list-item>
       </md-list>

    </div>

    <div class="col-md-6" ng-hide="no_companies">

      <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ selected_company.name }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button ng-if="cType == 'AVAILABLE'" ng-click="register($event, selected_company.name, selected_company.id)">{{action_name}}</md-button>
        <md-button ng-if="cType == 'APPLIED'" ng-click="cancel($event, selected_company.name, selected_company.id)">{{action_name}}</md-button>
        <md-button ng-if="cType == 'REGISTERED'" ng-click="viewlist($event, selected_company.name, selected_company.id)">{{action_name}}</md-button>
        <md-button>Go to Company Website</md-button>
      </md-card-actions>
      <md-card-content>
        <p>
          {{selected_company.job_desc}}
        </p>
      </md-card-content>
      </md-card>

    </div>

    </div>

</div>
