<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %> <small><%= @user.roll %></small>
      </h1>
    </section>
  </aside>
</div>
