<% if @company.errors.any? %>
   <div id="error_explanation">
     <div class="alert alert-danger">
       This form contains <%= pluralize(@company.errors.count, "error") %>
     </div>
     <ul>
       <% @company.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
<% end %>
