<footer class="footer">
  <small>
    The <a href="#">Training and Placement Cell</a>
    by <a href="http://www.nitc.ac.in">NIT Calicut</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
